{% extends "default/module.html.jinja2" %}
{% block nav_title %}
{#    <img src="https://github.com/marcrleonard/LineDream/blob/master/icons/LineDream_Icon.png?raw=true" class="logo" alt="project logo">#}
{% endblock %}

