{% extends "default/module.html.jinja2" %}


{% defaultmacro headerlink(doc) -%}
    <a class="headerlink" href="#{{ doc.qualname }}">#</a>
{% enddefaultmacro %}


{% block nav_title %}
{#    <img src="https://github.com/marcrleonard/LineDream/blob/master/icons/LineDream_Icon.png?raw=true" class="logo" alt="project logo">#}
{% endblock %}


{% block attribution %}
{#    <a class="attribution" title="pdoc: Python API documentation generator" href="https://pdoc.dev">#}
{#        built with <span class="visually-hidden">pdoc</span><img#}
{#            alt="pdoc logo"#}
{#            src="data:image/svg+xml,#}
{#                    {%- filter urlencode %}{% include "pdoc-logo.svg" %}{% endfilter %}"/>#}
{#    </a>#}
{% endblock %}