{% extends "default/module.html.jinja2" %}

{#{% defaultmacro view_source(doc) %}#}
{#    {% if show_source and doc.source %}#}
{#        <details>#}
{#            <summary>View Source</summary>#}
{#            {{ doc.source | highlight_2 }}#}
{#        </details>#}
{#    {% endif %}#}
{#{% enddefaultmacro %}#}

{% block title %}
{% endblock %}
{% block attribution %}
{% endblock %}